:root {
    --color1: #303030;
    --color2: rgb(20,20,20);
    --color3: #141414;
    --color4: rgb(118, 48, 210);
    --color5: #000000;
    --color6: #888888;
    --color7: #FFFFFF;
}


*{
    cursor: pointer;
    color: var(--color7);
    font-family: sans-serif;
    font-size: 12px;
    transition: 1s ease-out;
}

.checkbox {
    accent-color: #00f756;
    border-radius: 50%;
    margin: 0;
    height: 20px;
    width: 20px;

    
}

/* Thank you Anish Raj Pandey for this code snippet for the round checkboxes:
https://stackoverflow.com/a/70997842
 */
input[type="checkbox"] {
    width: 20px;                         /* Set width */
    height: 20px;                        /* Set height */
    clip-path: circle(46% at 50% 50%);   /* Set the clip path of circle*/
  }

html {
    background-image: linear-gradient(90deg, black, white, black);
}

body {
    cursor: default;
    display: flex;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.cellphone {
    display: flex;
    position: relative;
    width: 365px;
    min-height: 759px;
    background-image: url("./img/phone.png");
    background-repeat: no-repeat;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}


@media screen and (min-width: 510px) {
    #start {
        color: black;
        border: 5px solid var(--color5);
        box-shadow: 5px 5px 5px var(--color4);
        display: flex;
        position: fixed;
        top: 30%;
        justify-content: center;
        width: 100%;
        background-image: linear-gradient(90deg, gray, white, white, white,white,white, gray);
        z-index: 99;
    }
    
    #start p {
        color: var(--color5);
        font-size: large;
        line-height: 1.5em;
    }
    
    #start s {
        color: var(--color6);
        font-size: medium;
    }
    
    #start>img {
        display: block;
        align-self: center;
        height: 200px;
        z-index: 100;
        top: 0;
    }

    .slideButtons {
        display: flex;
        position: absolute;
        top: 50px;
        left: -80px;
        width: 525px;
    }

    #leftButtons {
        border-bottom-left-radius: 10px;
        display: flex;
        border: 1px solid white;
        align-items: center;
        width: 80px;
        flex-direction: column;
        padding-bottom: 10px;
        gap: 10px;
        background-image: linear-gradient(90deg, rgb(58, 58, 58), rgb(47, 47, 47), black);
    }

    #slideMenu {
        font-size: 1.6em;
        text-align: center;
        background-image: linear-gradient(90deg, rgb(72, 72, 72), black);
        width: 80px;
        background-color: black;
        border: 1px solid white;

    }

    #leftButtons div:not(#slideMenu, .themes) {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid black;
        color: white;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #leftButtons div:not(#slideMenu, .themes):hover {
        background-image: none;
        color: gold;
        background-color: var(--color4);
        transition: 0.2s ease-in;
    }


    #backSlide {
        background: none;
        display: flex;
        width: 80px;
        height: 80px;
    }

    #rightButtons {
        display: flex;
        align-items: flex-start;
        width: 80px;
    }

    #behindCellPhone {
        width: 365px;
    }

    .themes {
        padding: 0px 5x;
    }

    #lightTheme {
    border-radius: 10px;
    background: none;
    width: 100%;
    text-align: center;
    }

    #darkTheme {
    border-radius: 10px;
    width: 100%;
    text-align: center;
    }

    #lightTheme:hover {
        background-color: rgb(84 109 255);
    }

    #darkTheme:hover {
        background-color: var(--color4);
    }
}
/* START OF MOBILE MEDIA QUERY FOR BUTTONS */
@media screen and (max-width: 510px) {

    #start {
        color: black;
        border: 2px solid var(--color5);
        box-shadow: 3px 3px 3px var(--color4);
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-image: linear-gradient(90deg, gray, white, white, white,white,white, gray);
        z-index: 99;
    }

    #start p {
        color: var(--color5);
        font-size: large;
        line-height: 1.5em;
    }
    
    #start s {
        color: var(--color6);
        font-size: medium;
    }
    
    #start>img {
        display: block;
        align-self: center;
        height: 200px;
        z-index: 100;
        top: 0;
    }


    .slideButtons {
        display: flex;

        flex-direction: row;
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 10;
        justify-content: center;
    }

    #leftButtons {
        padding-top: 10px;
        max-width: 365px;
        border-radius: 10px;
        box-shadow: 0px 10px 2px var(--color5);
        display: flex;
        justify-content: center;
        border: 2px solid var(--color7);
        align-items: center;
        padding-bottom: 10px;
        gap: 10px;
        width: 100%;
        background-image: linear-gradient(90deg, rgb(58, 58, 58), rgb(47, 47, 47), black);
    }

    #slideMenu {

        font-size: 1.6em;
        text-align: center;
        border: none;
    }

    #leftButtons div:not(#slideMenu, .themes) {
        height: 20px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid black;
        color: white;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #leftButtons div:not(#slideMenu, .themes):hover {
        background-image: none;
        color: gold;
        background-color: var(--color4);
        transition: 0.2s ease-in;
    }


    #backSlide {
        background: none;
        display: flex;
        width: 80px;
        height: 80px;
    }

    #rightButtons {
        display: flex;
        align-items: flex-start;
        width: 80px;
    }

    #behindCellPhone {
        width: 365px;
    }

    .themes {
        padding: 0px 5x;
    }

    #lightTheme {
    border-radius: 10px;
    background: none;
    text-align: center;
    }

    #darkTheme {
    border-radius: 10px;
    text-align: center;
    }

    #lightTheme:hover {
        background-color: rgb(84 109 255);
    }

    #darkTheme:hover {
        background-color: var(--color4);
    }
}
/* End of media query for buttons */

.screen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 84px;
    left: 16px;
    width: 333px;
    height: 586px;
    user-select: none;
}

.androidTop {
    display: flex;
    object-fit: fill;
    width: 332px;
    min-height: 15px;
    background-color: var(--color3);
    user-select: none;
}
.androidTop img {
    object-fit: fill;
    width: 332px;
    user-select: none;
}

navbar {
    background-color: var(--color3);
    padding-bottom: 4px;
}

#navbar {
    flex-direction: column;
    height: 77px;
}
.navbar {
    padding: 2px 5px;
    background-color: var(--color3);
    flex: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 322px;
    height: 42px;
}

.top {
    width: 332px;
}

.navbar img {
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color5);
}

.navbar h2 {
    font-size: 1.5em;
}

.expandingMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;
    align-self: right;
    height: 40px;
    width: 40px;
}

.expandingMenu span {
    background-color: var(--color7);
    margin-bottom: 4px;
    width: 16px;
    height: 1px;
    display: block;
}
.expandingMenu>:nth-child(2) {
width: 10px;
}
.expandingMenu>:nth-child(3) {
width: 5px;
}

.search {
    padding-left: 8px;
    display: flex;
    background-color: var(--color1);
    height: 30px;   
    margin-left: 8px;
    align-items: center;
    border-radius: 7px;
    width: 310px;
    align-self: center;
}

#homeScreen img {
    width: 332px;
    height: 540px;
}
#homeScreen {
    display: none;
    width: 333px;
    height: 540px;
}

#chatTop {
    display: none;
    justify-content: space-around;
    flex: 1;
    height: 30px;
    align-items: center;
}

#chatTop>div {
    width: 33%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--color2);
}

#chatTop :hover{
    color: var(--color4);
    border-bottom: 5px solid var(--color4);
}

#chatTop :hover span {
    color: var(--color4);
    border: none;
}

#chatTop span {
    font-size: 1em;
    color: var(--color6);
    font-weight: 700;
}

.search input {
    background-color: var(--color1);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 290px;
    padding: 0;
}

.searchIcon {
    display: flex;
    height: 25px;
}

#homeButtons {
    display: flex;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 195px;
    height: 55px;
    width: 125px;
}


#teamsIcon {
    display: flex;
    background-color: none;
    height: 55px;
    width: 50px;
    z-index: 5;
}
#bvcTeams {
    height: 55px;
    width: 50px;
    display: flex;
    background-color: none;
    z-index: 5;
}

main {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    width: 332px;
    min-height: 416px;
    max-height: 416px;
    gap: 1px;
    }

.you {
    background-color: var(--color5);
    display: flex;
    height: 80px;
    width: 332px;
    justify-content: center;
}

.you figure {
    margin: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.badges {
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 32px;
    background-color: var(--color7);
    gap: 5px;
    border-radius: 7px;
    padding: 4px;
    border: 4px solid var(--color4);
    position: relative;
    right: 50px;
    top: 10px;
}

.badges img {
    height: 32px;
    width: 32px;
}

.tooltip {
    width: 120px;
    background-color: var(--color7);
    color: var(--color5);
    padding: 10px;
    font-size: 1.2em;
    visibility: hidden;
    position: absolute;
    top: 50px;
    border-radius: 5px;
    border: 1px solid var(--color5);
    z-index: 6;
    transition: none;
}

#goldStar:hover .tooltip {
    visibility: visible;
}
#inclusive:hover .tooltip {
    visibility: visible;
}
#leader:hover .tooltip {
    visibility: visible;
}
.theirChat.wade:hover .tooltip {
    visibility: visible;
    border: 2px solid red;
    top: -200px;
    width: 150px;
    left: 140px;
}
.theirChat.wade img {
    height: 20px;
}
.theirChat.wade {
    position: relative;
}

#yourChatPic {
    height: 55px;
    border-radius: 50%;
    border: 1px solid black;
}

.you .statusIcon {
    position: relative;
    bottom: -45px;
    right: 150px;
    height: 20px;
    width: 0;
}
.statusIcon img, .chatStatusicon {
    border: 2px solid var(--color5);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -2px;
}


.you figcaption {
    display: flex;
}


main:hover:not(#homeButtons) {
    background-color: var(--color1);
}

.chatLine {
    background-color: var(--color5);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chatLine :hover, .you:hover:not(.badges) {
    background-color: var(--color1);
}

.profilePicContainer {
    position: relative;
    width: 60px;
    height: 56px;
    display: flex;
    align-items: flex-end;
}

#offline {
    border: 1px solid var(--color6);
}
.profilePic {
    width: 40px;
    height: 40px;
    margin: 5px 8px;
    border-radius: 50%;
    border: 1px solid var(--color5);
}
.chatStatusIcon {
    position: relative;
    width: 15px;
    right: 25px;
    border-radius: 50%;
    border: 1px solid var(--color5);
}

.theirChatContainer {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.theirChat {
    margin-right: 60px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 4px 12px 4px 8px;
    background-color: var(--color1);
    display: flex;
    max-width: 250px;
    line-height: 1.5em;
    font-size: 1.2em;
    justify-content: space-between;
    min-width: 242px;
}

.yourChatContainer {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.yourChat {
    margin-right: 10px;
    border-radius: 10px;
    padding: 4px 12px 4px 8px;
    background-color: var(--color4);
    display: flex;
    max-width: 250px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.nameAndLastMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chatLine p {
    margin: 0;
    line-height: 1.5em;
    width: 190px;
}

.timestamp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color6);
    position: absolute;
    height: 40px;
    right: 10px;
    justify-self: flex-end;
    align-items: flex-end;
}

.timestamp:hover .tooltip {
    visibility: visible;
    border: 2px solid red;
    top: -100px;
}

.theirChat.meeting {
    font-size: 1em;
}

.theirChat.meeting:hover .tooltip {
    visibility: visible;
    border: 2px solid var(--color1);
    left: 150px;
    top: 10px;
}

.theirChatContainer.meeting {
    gap: 10px;
    align-items: flex-end;
}

.timestamp img {
    height: 20px;
    width: 23px;
}

#chatScreen {
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;   
}
.timeSent {
    display: flex;
    color: var(--color6);
    margin: 3px 0px;
}

#profileIconBarContainer {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    gap: 10px;
    width: 332px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color1);
}

#profileIconBar {
    display: flex;
    height: 25px;
}

.emailContainer {
    margin-left: 10px;
    display: "none";
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--color6);
}

#email {
    color: var(--color4);
    font-size: 1.2em;
    font-weight: 700;
}

.emailContainer#peer {
    display: none;
    font-weight: 700;
    font-size: 2em;
    width: 290px;
    text-align: center;
}

.emailContainer#review1 {
    display: none;
    border-radius: 4px;
    gap: 4px;
    padding: 2px;
   border: 1px solid var(--color6);
   width: 290px;
   background-color: var(--color1);
}
.emailContainer#review2 {
    display: none;
    border-radius: 4px;
    gap: 4px;
    padding: 2px;
    border: 1px solid var(--color6);
    width: 290px;
    background-color: var(--color1);
}

#footer {
    padding-top: 4px ;
    margin-bottom: 4px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 36px;
    bottom: 92px;
    align-self: center;
    align-items: center;
    width: 332px;
}

#footer :hover {
    background-color: var(--color4);
}


.footerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
}
.footerButton img {
    display: flex;
    height: 25px;
}

#teams {
    height: 24px;
    width: 28px;
}

#more {
    width: 20px;
    height: 4px;
    margin: 13px 0px 7px;
}

.androidBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color5);
    width: 332px;
    height: 30px;
    bottom: 66px;
}

.chatBottom {
    display: none;
    padding-top: 4px ;
    margin-bottom: 4px;
    background-color: var(--color5);
    justify-content: space-evenly;
    gap: 5px;
    flex-direction: row;
    height: 36px;
    bottom: 97px;
    align-self: center;
    align-items: center;
    width: 332px;
}

#plusButton {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
    height: 22px;
    width: 22px;
    font-size: 20px;
    border-radius: 11px;
    background-color: var(--color4);
}

.chatBottom input {
    background-color: var(--color1);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 220px;
    padding-left: 5px;
}
#cameraAndMic {
    display: flex;
    flex-direction: row;
    width: 50px;
}
#cameraAndMic img {
    height: 24px;
}

.bottomScreen {
    display: flex;
    width: 33.3%;
    justify-content: center;
    align-items: center;
    height: 28px;
    background-color: black;
}

.androidBottom :hover {
    background-color: var(--color1);
}

.androidBottom span {
    display: inline-block;
    margin-right: 4px;
    width: 2px;
    height: 15px;
    background-color: var(--color6);
}

#home {
    width: 16px;
    height: 16px;
    border: 2px solid var(--color6);
    border-radius: 6px;
}

#back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-right: 10px;
    width: 100%;
    transition: none;
}
#back span{
    transition: none;
    width: 13px;
    height: 1px;
}

#back :first-child {
    transform: rotate(-45deg) translate(2px, 0);
}
#back :nth-child(2) {
    transform: rotate(45deg) translate(1px, -1px);

}