:root {
    --color1: #303030;
    --color2: rgb(20,20,20);
    --color3: #141414;
    --color4: rgb(107, 50, 181);
}

*{
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}
#start {
    border: 5px solid black;
    box-shadow: 5px 5px 5px var(--color4);
    display: flex;
    position: fixed;
    top: 30%;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(90deg, gray, white, white, white,white,white, gray);
    z-index: 99;
}


#start p {
    color: black;
    font-size: large;
    line-height: 1.5em;
}

#start s {
    color: gray;
    font-size: medium;
}

#start>img {
    display: block;
    align-self: center;
    height: 200px;
    z-index: 100;
    top: 0;
}

html {
    background-image: linear-gradient(rgb(20,20,20), rgb(70,70,70));
}

body {
    cursor: default;
    display: flex;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.cellphone {
    display: flex;
    position: relative;
    width: 365px;
    min-height: 759px;
    background-image: url("./img/phone.png");
    background-repeat: no-repeat;
}

.screen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 84px;
    left: 16px;
    width: 333px;
    height: 586px;
}

.androidTop {
    display: flex;
    object-fit: fill;
    width: 332px;
    min-height: 15px;
    background-color: var(--color3);
}
.androidTop img {
    object-fit: fill;
    width: 332px;
}

navbar {
    background-color: var(--color3);
    padding-bottom: 4px;
}

#navbar {
    flex-direction: column;
    height: 77px;
}
.navbar {
    padding: 2px 5px;
    background-color: var(--color3);
    flex: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 322px;
    height: 40px;
}

.top {
    width: 332px;
}

.navbar img {
    height: 30px;
}

.navbar h2 {
    font-size: 1.5em;
}

.expandingMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;
    align-self: right;
    height: 40px;
    width: 40px;
}

.expandingMenu span {
    background-color: white;
    margin-bottom: 4px;
    width: 16px;
    height: 1px;
    display: block;
}
.expandingMenu>:nth-child(2) {
width: 10px;
}
.expandingMenu>:nth-child(3) {
width: 5px;
}

.search {
    padding-left: 8px;
    display: flex;
    background-color: var(--color1);
    height: 30px;   
    margin-left: 8px;
    align-items: center;
    border-radius: 7px;
    width: 310px;
    align-self: center;
}

#homeScreen img {
    width: 332px;
    height: 540px;
}
#homeScreen {
    display: none;
    width: 333px;
    height: 540px;
}

#chatTop {
    display: none;
    justify-content: space-around;
    flex: 1;
    height: 30px;
    align-items: center;
}

#chatTop>div {
    width: 33%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--color2);
}

#chatTop :hover{
    color: var(--color4);
    border-bottom: 5px solid var(--color4);
}

#chatTop :hover span {
    color: var(--color4);
    border: none;
}

#chatTop span {
    font-size: 1em;
    color: gray;
    font-weight: 700;
}

.search input {
    background-color: var(--color1);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 290px;
    padding: 0;
}

.searchIcon {
    display: flex;
    height: 25px;
}

#homeButtons {
    display: flex;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 195px;
    height: 55px;
    width: 125px;
}



#teamsIcon {
    display: flex;
    background-color: none;
    height: 55px;
    width: 50px;
    z-index: 5;
}
#bvcTeams {
    height: 55px;
    width: 50px;
    display: flex;
    background-color: none;
    z-index: 5;
}

main {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    width: 332px;
    min-height: 416px;
    max-height: 416px;
    gap: 1px;
    }

.you {
    background-color: black;
    display: flex;
    height: 80px;
    width: 332px;
    justify-content: center;
}

.you figure {
    margin: 2px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.you img {
    height: 55px;
}

.you figcaption {
    display: flex;
}

main:hover:not(#homeButtons) {
    background-color: var(--color1);
}

.chatLine {
    background-color: black;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chatLine img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.nameAndLastMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chatLine p {
    margin: 0;
    line-height: 1.5em;
}

.timestamp {
    color: gray;
    position: absolute;
    right: 10px;
    justify-self: flex-end;
}

.yourChat {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 90px;
    flex-wrap: wrap;
    max-width: 250px;
    border-radius: 10px;
    color: white;
    line-height: 2em;
    font-size: 1.2em;
    background-color: var(--color4);
    padding: 3px 3px 2px 5px;
}

.timeSent {
    display: none;
    position: absolute;
    right: 120px;
    bottom: 150px;
    color: gray;
}


#footer {
    padding-top: 4px ;
    margin-bottom: 4px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 36px;
    bottom: 92px;
    align-self: center;
    align-items: center;
    width: 332px;
}

#footer :hover {
    background-color: var(--color4);
}


.footerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
}
.footerButton img {
    display: flex;
    height: 25px;
}

#teams {
    height: 24px;
    width: 28px;
}

#more {
    width: 20px;
    height: 4px;
    margin: 13px 0px 7px;
}

.androidBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 332px;
    height: 30px;
    bottom: 66px;
}

.chatBottom {
    display: none;
    padding-top: 4px ;
    margin-bottom: 4px;
    background-color: black;
    justify-content: space-evenly;
    gap: 5px;
    flex-direction: row;
    height: 36px;
    bottom: 97px;
    align-self: center;
    align-items: center;
    width: 332px;
}

#plusButton {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 22px;
    width: 22px;
    font-size: 20px;
    border-radius: 11px;
    background-color: var(--color4);
}

.chatBottom input {
    background-color: var(--color1);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 220px;
    padding-left: 5px;
}
#cameraAndMic {
    display: flex;
    flex-direction: row;
    width: 50px;
}
#cameraAndMic img {
    height: 24px;
}

.bottomScreen {
    display: flex;
    width: 33.3%;
    justify-content: center;
    align-items: center;
    height: 28px;
}

.androidBottom :hover {
    background-color: var(--color1);
}

.androidBottom span {
    display: inline-block;
    margin-right: 4px;
    width: 2px;
    height: 15px;
    background-color: rgb(185, 185, 185);
}

#home {
    width: 16px;
    height: 16px;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 6px;
}

#back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-right: 10px;
    width: 100%;
}
#back span{
    width: 13px;
    height: 1px;
    background-color: white;
}

#back :first-child {
    transform: rotate(-45deg) translate(2px, 0);
}
#back :nth-child(2) {
    transform: rotate(45deg) translate(1px, -1px);

}